$background-color: rgb(37, 37, 37);
$grey-color: rgb(121, 121, 121);
$white-color: rgb(255, 255, 255);
$black: rgb(0, 0, 0);

.mainWrapper {
  align-items: center;
  background: $background-color;
  color: $grey-color;
  margin: 0 auto;
  max-width: 1100px;
  min-height: calc(100vh - 5rem);
  position: relative;
  width: 90%;

  .castWrapper {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    // padding-right: 1.5rem;
    right: 0;
    width: 100%;

    @media screen and (max-width: 1220px) {
      // padding-right: 0;
    }
  }

  .castGrid {
    column-gap: 0.65rem;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 0.65rem;
    padding-right: 1.5rem;

    @media screen and (max-width: 1220px) {
      justify-content: center;
      margin: 0 auto;
      padding: 0 1.5rem;
    }
  }

  .castNameShowAllBtn {
    align-items: center;
    border: 2px solid $white-color;
    border-radius: 5px;
    color: $white-color;
    display: flex;
    flex-shrink: 2;
    font-size: 0.8rem;
    height: 1.8rem;
    justify-content: center;
    transition: 0.3s;
    width: 4.5rem;

    &:hover {
      background-color: $white-color;
      color: $black;
      cursor: pointer;
    }
  }

  .castNameWrapper {
    align-items: flex-start;
    color: $white-color;
    display: flex;
    flex-direction: row;
    height: 2.5rem;
    justify-content: space-between;
    padding-right: 1.5rem;
    width: 68%;

    @media screen and (max-width: 1220px) {
      align-items: center;
      column-gap: 5rem;
      justify-content: space-between;
      margin: 0 auto;
      min-width: 12rem;
      padding: 0 1.5rem;
      width: 48rem;
    }

    @media screen and (max-width: 855px) {
      width: 100%;
    }
  }

  .recommendationsWrapper {
    margin: 0 auto;
    margin-top: 2rem;

    .recommendationsTitle {
      color: $white-color;
      margin-bottom: 2rem;
      padding-left: 1.5rem;
      text-align: start;
    }
  }

  .recommendationsCardsWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;

    @media screen and (max-width: 455px) {
      justify-content: center;
    }
  }
}
