.header {
  align-items: center;
  background-color: #333;
  display: flex;
  flex-wrap: wrap;
  height: 5rem;
  justify-content: space-between;
  margin: 0;
  padding: 0% 5%;
  position: relative;
  top: 0;
  width: 100%;

  @media screen and (max-width: 760px) {
    margin: 0;
  }

  h1 {
    color: rgb(255, 255, 255);
    flex-grow: 2;
    letter-spacing: 2px;
    margin-left: 0.5rem;
    text-align: start;
  }

  a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-decoration-color: none;
  }
}
