.mainWrapper {
  align-items: center;
  background: rgb(37, 37, 37);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  min-height: calc(100vh - 5rem);
  position: relative;
  width: 90%;

  .cardsWrapper {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    height: max-content;
    justify-content: space-around;
    margin-top: 4rem;
    width: 100%;
  }
}
