$size: 60px;
$white: rgb(177, 177, 177);

.loader {
  animation: spin 1.8s linear infinite;
  border: 0 $white;
  border-bottom: 5px solid $white;
  border-radius: 50%;
  border-right: 2px dashed $white;
  height: $size;
  left: calc(50% - 25px);
  position: fixed;
  top: calc(50% - 25px);
  width: $size;

  @keyframes spin {
    0% {
      transform: skew(30deg, 20deg);
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
